
$color-main : #25D6A2;
$colorBg_main : #F6F6F6;
$colorBg_dark : #3B3B3B;

//categorie box colors
$color1 :#7C5CC5;
$color2 :#44CBA3;
$color3 :#E73E61;
$color4 :#EEC251;

$color1_light :#7c5cc57a;
$color2_light :#44cba281;
$color3_light: #FAC2CD;
$color4_light: #FFC942;

$colorText: black;
$colorText_light: #999A9F;