.banner{
    position: relative;
    transform: translateY(150px);
    // z-index: -1;
    position: relative;
    @media (max-width: 992px){
        display: none;
    }

    img{
        width: 100%;
        object-fit: cover;
    }

    .link-btns{
        position: absolute;
        top: 15rem;
        left: 3rem;
        display: flex;
        column-gap: 1rem;
        cursor: pointer;
        z-index: 99999;

        a{
            cursor: pointer;
        }

        @media (max-width: 1400px){
            top: 13rem;

        }
        @media (max-width: 1200px){
            top: 10rem;

        }
        img{
            width: 150px;
        }
    }

}