.banner{
    position: relative;
    transform: translateY(150px);
    z-index: -1;

    @media (max-width: 992px){
        display: none;
    }

    img{
        width: 100%;
        object-fit: cover;
    }

    .banner-text{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem 0;
        background-color: white;
        width: 100%;
        box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.146);
        img{
            width: 250px;
        }
        >span{
            font-size: 2rem;
            font-weight: bold;
        }
    }
}